<h4>Hi <%= @receiver.username %>,</h4>

<p>The item(s) you borrowed are due soon. Please renew or return the item(s).
</p><br>

<p><%= @message %></p><br>

<p>Have a great day!</p><br>

- <%= @sender.username %>
